.admin-docs-table {
    display: flex;
    justify-content: flex-end;
}

.doc-info-table {
    width: 100%;
}

.doc-info-table--row td {
    padding: 3px 10px;
}

.doc-info-table--row--title {
    font-weight: bold;
    text-align: right;
    opacity: 0.8;
}

.doc-info-table--row--value {
    margin-left: 5px;
}