@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&subset=cyrillic');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.content {
  margin: 50px auto 0 auto;
}

.content-small {
  width: 320px;
}

.content-medium {
  width: 740px;
}

.content-large {
  width: 960px;
}

@media only screen and (max-width: 320px) {
    .content-small {
        width: 98%;
    }
}

@media only screen and (max-width: 740px) {
    .content-medium {
        width: 98%;
    }
}

@media only screen and (max-width: 960px) {
  .content-large {
    width: 98%;
  }
}

