header {
    display: flex;
    padding: 35px 40px 10px;
}

.spaceholder {
    display: flex;
    flex: 1;
}

.logo {
    display: flex;
}

header a.logo-link-container:hover {
    text-decoration: none;
}

header nav {
    display: flex;
}

.user-login {
    color: #333333;
    font-size: 18px;
    float: right;
    margin-left: 64px;
}

header menu {
    display: flex;
}

@media only screen and (max-width: 740px) {
    .user-login {
        color: #333333;
        font-size: 14px;
        margin-left: 0px;
    }
}

