.input-label {
    display: flex;
    opacity: 0.8;
    font-weight: bold;
}

.input-label-text {
    display: flex;
    opacity: 0.8;
    font-size: 12px;
}

.login-nav-link {
    margin-top: 2px;
    float: right;
    color: #3072C4;
    font-size: 14px;
}

.submit-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}

.login-form-submit {
    margin: 5px 5px 10px 0;
}

.login-form-submit:hover {
    margin: 6px 5px 11px 0px;
}

.input-container {
    margin: 0 0 25px;
}
