.logo-img {
    float: left;
    width: 32px;
    height: 32px;
}

.logo-text {
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
    font-size: 32px;
    color: black;
}

@media only screen and (max-width: 740px) {
    .logo-img {
        float: left;
        width: 22px;
        height: 22px;
    }
}

@media only screen and (max-width: 740px) {
    .logo-text {
        font-style: normal;
        font-weight: 900;
        line-height: 22px;
        font-size: 22px;
        color: black;
    }
}
