.main-menu {
    list-style: none;
}

.main-menu li {
    display: inline-block;
    margin-left: 32px;
}

.main-menu li:first-child {
    margin-left: initial;
}

.main-menu li a {
    font-size: 18px;
}

.main-menu li a:hover {
    font-size: 18px;
    text-decoration: none;
}

.user-login-logout {
    margin-left: 32px;
}

.user-login-logout:hover {
    text-decoration: none;
}

.main-menu .selected {
    border-bottom: 1px dashed #007bff;
}

.main-menu .selected:hover {
    border-bottom: 1px dashed #0056b3;
}

@media only screen and (max-width: 740px) {
    .main-menu li {
        margin-left: 0px;
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 960px) {
    .main-menu li a {
        font-size: 16px;
    }
}

@media only screen and (max-width: 740px) {
    .main-menu li a:hover {
        font-size: 16px;
        text-decoration: none;
    }
}

@media only screen and (max-width: 740px) {
    .user-login-logout {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 740px) {
    .main-menu li:last-child {
        margin-bottom: 7px;
    }
}




